<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Danh sách sản phẩm</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
            integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>

    <body>
        <div class="container my-3">
            <h4 class="text-primary">Danh sách sản phẩm</h4>
            <a class="btn btn-success btn-sm my-2" href="/add">Thêm sản phẩm</a>
            <p>Chọn một sản phẩm cụ thể để xem chi tiết</p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product=> { %>
                        <tr>
                            <td scope="row"><%= product.id %></td>
                            <td>
                                <a href="/products/<%= product.id %>">
                                    <%= product.name %>
                                </a>
                            </td>
                            <td><%= product.price %></td>
                            <td>
                                <a href="/products/add">Chỉnh sửa</a> |
                                <a href="#">Xóa</a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
