<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>Chi tiết sản phẩm</title>
        <%- include('partials/bootStrapCSS.ejs') %>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <style>
            .fa-star {
                color: lightgray;
                font-size: 150%;
            }

            .checked {
                color: orange;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-black">
            <div class="container">
                <a class="navbar-brand" href="/">Trang chủ</a>
                <button
                    class="navbar-toggler d-lg-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId"
                    aria-controls="collapsibleNavId"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                href="#"
                                aria-current="page"
                                >Giới thiệu
                                <span class="visually-hidden"
                                    >(current)</span
                                ></a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Trợ giúp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <br />

        <div class="container">
            <div class="row justify-content-center mt-2">
                <div
                    class="m-4 m-md-0 col-md-5 col-lg-4 p-3 border rounded d-flex align-items-center"
                >
                    <img src="<%= product.image %>" class="img-fluid" alt="" />
                </div>
                <div class="m-4 m-md-0 col-md-7 col-lg-6 border rounded p-4">
                    <h3 class="text-primary"><%= product.name%></h3>

                    <span class="badge bg-primary">256GB</span>

                    <div class="my-3">
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star"></span>
                        <span class="fa-solid fa-star"></span>
                    </div>

                    <h4 class="text-danger fw-bold">$<%= product.price %></h4>

                    <div class="text-secondary justify-content-center">
                        <p class="text-dark">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Numquam, sapiente illo. Sit error voluptas
                            repellat rerum quidem, soluta enim perferendis
                            voluptates laboriosam. Distinctio, officia quis
                            dolore quos sapiente tempore alias.
                        </p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Numquam, sapiente illo. Sit error voluptas repellat
                        rerum quidem, soluta enim perferendis voluptates
                        laboriosam. Distinctio, officia quis dolore quos
                        sapiente tempore alias.
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-primary px-4">Edit</button>
                    </div>
                </div>
            </div>
        </div>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
            integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
    </body>
</html>
